@import '../variables/variables';
@import '../mixin/mixin';

/* ------------------------------------------
                Menu Part Start
------------------------------------------ */
#menu{
    padding: 33px 0;
    background: rgba(0, 0, 0, 0.44);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    &.menu_fix{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.9);
            z-index: 999;
        }
    .menu_row{
        display: flex;
        flex-wrap: wrap;
        .logo{
            flex-basis: 10%;
            transition: all linear .3s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .main_menu{
            flex-basis: 75%;
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                li{
                    a{
                        @include ts($wht, 14px, 700, $ff1);
                        margin-left: 44px;
                        text-transform: uppercase;
                        transition: all linear .3s;
                        &:hover{
                            color: #28b8d8;
                        }
                    }
                }
            }
        }
        
        .menu_icon{
            flex-basis: 15%;
            position: relative;
            &::after{
                @include after1(25px, -5px, 2px, 30px, #3c3a43);
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                li{
                    a{
                        color: $wht;
                        font-size: 14px;
                        margin-left: 28px;
                        transition: all linear .3s;
                        &:hover{
                            color: #28b8d8;
                        }
                    }
                }
            }
        }
    }
}

/* ------------------------------------------
                Menu Part End
------------------------------------------ */